html {
    background-image: url("Image/Background_Image.jpg");
    background-repeat: no-repeat;
	width: 100%;
}
h1 {
    text-align: center;
    background-color: #64859E;
    font-family: palatino, serif;
    border: 2px dotted;
    border-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 250px;
    margin-bottom: 20px;   
}
p {
    background-color: hsla(206, 37%, 51%, 0.90);
    font-style: italic;
    padding: 20px;
    border: 3px black;
    border-right-style: double;
    border-top-style: double;
    border-left-style: double;
    border-bottom-style: double;
    width: 500pxs;
}
body span {
    font-style: bold, italic;
    color: rgb(230,179,255);
    margin: 2px;
    margin-left: 5px;
    margin-right: 5px;
}