body {
	position: absolute;
	box-sizing: border-box; 
	background: url("https://i.pinimg.com/originals/7d/04/0e/7d040e94931427709008aaeda14db9c8.gif");
	background-repeat: no-repeat;
	background-size: 100%;
}
#header {
	padding: 20px 20px 20px 20px;
	
}
tr{ 
	text-align: center; 
}
td {
	background-color: white;
	border-style: solid; 
	border-width: 2px; 
	border-color: #575555;
	padding: 10px 100px 10px 100px;
	font-size: 30px; 
	opacity: 70%;
	
}
h1{
	padding-right: 100px;
	padding-left: 219px;
	text-decoration: underline;
	color: white; 
}
.content{
	width: 40%; 
	position: absolute; 
	background-color: white;
	border-width: 2px; 
	border-color: #575555;
	margin-left: 30px; 
	padding: 10px; 
	margin-right: 700px; 
	opacity: 70%;
}

p{
	overflow: auto; 
}
h1{
	clear:left; 
}
#pic1 {
	position: absolute; 
	margin-left: 1600px;
	margin-top: 60px; 
	border-style: outset;
}
#pic2 {
	position: absolute; 
	margin-left: 1350px; 
	margin-top: 60px; 
	border-style: outset; 
}
#pic3 {
	position: absolute; 
	margin-left: 1100px; 
	margin-top: 60px; 
	border-style: outset; 
}
#pic4 {
	position: absolute; 
	margin-left: 1500px; 
	margin-top: 400px; 
	border-style: outset;
}
#pic5 {
	z-index:1;
	position: absolute; 
	margin-left: 1250px; 
	margin-top: 400px; 
	border-style: outset; 

}

	