body {
	position: auto;
	box-sizing: border-box; 
	background: url("https://i.pinimg.com/originals/7d/04/0e/7d040e94931427709008aaeda14db9c8.gif");
	background-repeat: no-repeat;
	background-size: 100%;
	width: auto;

}

tr{ 
	text-align: justify; 
}
td {
	background-color: white;
	border-style: solid; 
	border-width: 2px; 
	border-color: #575555;
	padding: 10px 80px 10px 80px;
	font-size: 15px; 
	opacity: 70%;
}
#text {
	text-align: center;
	color: black;
	background-color: white;
	margin-top: 30px;
	margin-right: 370px;
	margin-left: 370px;
	padding-bottom: 20px;
	padding-top: 20px;
	opacity: 80%;
	font-size: 25px;
	border: 4px #1A501A outset;
}

#socmed{ 
	width:33.33%;
	float: left; 
	margin-bottom: 90px; 
	margin-top:50px;
	
}

#ig{
	border: 4px #1A501A outset; 
	text-align:center;
	margin: 10px 10px 10px 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: white;
	opacity: 70%;

}
#ig:hover{
	border: 4px #1A501A inset;
	opacity: 70%;
	background: url('../images/spritesheet.png') no-repeat -1099px -149px;
	width: 309px;
	height: 309px; 
	font-size: 0px;
}
#ig:active{
	border: 4px #1A501A outset;
	border-radius: 50%; 
}

#email{
	border: 4px #1A501A outset; 
	text-align:center;
	margin: 10px 10px 10px 10px; 
	padding-top: 20px;
	padding-bottom: 20px;
	background: white;
	opacity: 70%;
}

#email:hover{
	border: 4px #1A501A inset;
	opacity: 70%;
	background: url('../images/spritesheet.png') no-repeat -182px -140px;
	width: 318px;
	height: 318px;
	font-size:0px; 
	
}
#email:active{
	border: 4px #1A501A outset;
	border-radius: 50%; 
}

#fb{
	border: 4px #1A501A outset; 
	text-align:center;
	margin: 10px 10px 10px 10px; 
	padding-top: 20px;
	padding-bottom: 20px;
	background: white;
	opacity: 70%;
}

#fb:hover{
	border: 4px #1A501A inset;
	opacity: 70%;
	background: url('../images/spritesheet.png') no-repeat -651px -149px;
	width: 309px;
	height: 309px;
	font-size: 0px;	
}
#fb:active{
	border: 4px #1A501A outset;
	border-radius: 50%; 
}


