 body {
	position: fixed;
	box-sizing: border-box; 
	background: url("https://i.pinimg.com/originals/7d/04/0e/7d040e94931427709008aaeda14db9c8.gif");
	background-repeat: no-repeat;
	background-size: 100%;
	width: auto;

 }
tr{ 
	text-align: justify; 
}
td {
	background-color: white;
	border-style: solid; 
	border-width: 2px; 
	border-color: #575555;
	padding: 10px 80px 10px 80px;
	font-size: 15px; 
	opacity: 70%;
	
}

h1 {
	text-align: justify;
	text-decoration: underline;
	font-size: 45px;
	color: white;
	

} 
#description {
	background: white;
	text-align:justify; 
	border-style: solid; 
	border-color: white;
	border-radius: 1%;
	padding: 40px 90px 40px 90px; 
	margin: 15px 150px 15px 150px; 
	font-size: 20px; 
	color: white;
	text-indent: 30px; 
	opacity: 70%;
}
p {
	border-style: none;
	background-color: #575555;
	padding: 10px 40px 10px 40px;
	
}
.logo {
	float: left;
	padding-left: 350px;
	padding-top: 20px;
	padding-right: 45px;
}
